@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400&family=Open+Sans:wght@300;400&family=Poppins:wght@200;500;700&display=swap');
*{
    margin: 0;
    padding: 0;
    text-decoration: none;
    list-style: none;
    overflow: hidden;
}
body{
    color: rgb(226, 225, 225);
    font-family: 'Poppins', sans-serif;
}
a{
    color: rgb(226, 225, 225);
}
.container{
    width: 100%;
    height: 100vh;
    background-image: url(images/bg.jpg);
    background-position:center;
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.container .row:nth-child(1){
    display: flex;
    flex-direction: row;
    font-size: 18px;
}
.container .row .col{
    display: flex;
    flex-direction: column;
    margin-left: 45px;
    margin-top: 45px;
}
.container .row:nth-child(1) .col span:nth-child(1){
    font-size: 40px;
}
.container .row:nth-child(1) .col:nth-child(1) span:nth-child(1){
    color: rgb(224, 68, 68);
}
.container .row:nth-child(1) .col:nth-child(2) span:nth-child(1){
    color: rgb(97, 96, 184);
}
.container .row:nth-child(2){
    display: flex;
    flex-direction: column;
    font-size: 68px;
    position: absolute;
    right: 30px;
    bottom: 20px;
    color: rgb(226, 225, 225);
    align-items: center;
}
.container .side{
    width: 200px;
    height: 250px;
    padding: 15px;
    background-color: rgb(97, 97, 97,0.5);
    word-wrap: break-word;
    font-size: 20px;
    border: 0;
    border-radius: 5px;
}
.container .side ul:nth-child(1) li{
    margin-bottom: 10px;
}
.container .side ul li a:hover{
    color: #f16d6d;
    transition: 0.5s;
}
.container .row:nth-child(2) .col:nth-child(3) a{
    width: 120px;
    background-color: transparent;
    border: 1px solid rgb(226, 225, 225);
    border-radius: 10px;
    color: rgb(226, 225, 225);
    padding:7px 15px;
    font-size: 20px;
    text-align: center;
}
.container .row:nth-child(2) .col:nth-child(3) a:hover{
    background-color: rgb(97, 97, 97,0.5);
    border: 1px solid rgb(97, 97, 97,0.5);;
    transition: 0.5s;
}



/* responsive */
@media screen and (max-width: 992px){
    .container .row:nth-child(1) .col span:nth-child(1){
        font-size: 30px;
    }
    .container .row:nth-child(1){
        font-size: 14px;
    }
    .container .row:nth-child(2){
        font-size: 48px;
    }
    .container .side{
        width: 150px;
        height: 200px;
        font-size: 16px;
    }
}

@media screen and (max-width: 600px) {
    .container{
        align-items: center;
    }
    .container .row:nth-child(1) .col span:nth-child(1){
        font-size: 25px;
    }
    .container .row:nth-child(1){
        font-size: 12px;
    }
    .container .row:nth-child(2){
        font-size: 38px;
        left: 0;
    }
}

@media screen and (max-width: 420px){
    .container .row:nth-child(1) .col span:nth-child(1){
        font-size: 14px;
    }
    .container .row:nth-child(2){
        bottom: 90px;
    }
}
